.lead-capture
  color: red

// .campaign-monitor
//   background-color: #F3F5F7
//   text-align: center
//   flex: 1 auto

// .campaign-monitor .form-title
//   padding-bottom: 15px
//   font-size: 1.3em

// .campaign-monitor .form-notice
//   font-size: 0.85em
//   margin-top: 11px
//   padding: 0 20px

// .campaign-monitor input[type=email]
//   background-color: #FFFFFF
//   padding: 10px
//   width: 300px
//   border: 1px solid #2ECC71
//   font-size: 1em
//   line-height: 1.4em
//   border-radius: 3px 0px 0px 3px

// .campaign-monitor input[type=submit]
//   font-family: 'Source Sans Pro', sans-serif
//   background-color: #2ECC71
//   cursor: pointer
//   padding: 10px
//   width: 200px
//   border: 1px solid #2ECC71
//   color: white
//   font-weight: 400
//   font-size: 1em
//   line-height: 1.4em
//   margin-left: -10px
//   border-radius: 0px 3px 3px 0px
