//- modal: fancy with content

.modal
  .modal-content
    .modal-header
      .modal-title          
        h1 I had a dream
        h2 fooo
      .btn-closeModal

      .lead-capture
        .container
          foo

    .modal-body
      #emailFrame

    .modal-footer
      p.close-modal Close
